# Auto detect text files and perform LF normalization
* text=auto
venv/*.dll filter=lfs diff=lfs merge=lfs -text
venv/Lib/*.dll filter=lfs diff=lfs merge=lfs -text
venv/Lib/*.lib filter=lfs diff=lfs merge=lfs -text
*.lib filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
